<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Homepage</h1>
    <ul>
        <% for(let i=0; i<Object.keys(classes).length ; i++){ %>

            <li>
                <a href="">
                    <%= Object.keys(classes)[i] %>
                </a>

                <ul>
                    <% for(let j=0; j<Object.values(classes)[i].length ; j++){ %>
                        <li>
                            <a href="">
                                <%= Object.values(classes)[i][j] %>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </li>

            <% } %>
    </ul>
</body>

</html>