<%- include('partials/header.ejs') %>

    <body>
        <h3>
            <%= foundclass.name %>
        </h3>
        <ol>
            <% for(student of foundclass.students) { %>
                <li>
                    <%= student %>
                </li>
                <% } %>
        </ol>
    </body>

    </html>